@charset "UTF-8";

:root {
    --cor01:#261A0B;
    --cor02:#8C7C68;
    --cor03:#A69580;
    --cor04:#D9CBBA;
    --cor05:#F2E5D5;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

    body {
        background-color: var(--cor03) ;
    }

    header{
        background-color: var(--cor01);
    }

    h1 {
        font-size: 3em;
        text-align: center;
        color: var(--cor03);
        padding: 15px;
    }

    ul {
        text-align: center;
        background-color: var(--cor02);
        border-bottom: 2px solid var(--cor01);
    }

    li {
        border-top: 2px solid var(--cor01);
        
    }

    a {
        display: block;
        text-decoration: none;
        color: var(--cor05);
        padding: 10px;
    }

    #burguer{
        display: block;
        background-color: #1b1308;
        color: var(--cor04);
        padding: 5px;
        text-align: center;
        font-size: 30px;
    }

    #burguer:hover{
        background-color: var(--cor05);
        color: var(--cor01);
        cursor: pointer;
    }
    
    menu{
        display: none;
    }

    menu > ul> li> a:hover {
        background-color: var(--cor04);
        color: var(--cor01);
    }

    main {
        display: block;
        margin: auto;
        padding: 20px;
        border-radius: 0px 0px 10px 10px;
        background-color: var(--cor05);
        width: 80vw;
    }

    article > h2{
        padding-bottom: 20px;
    }

    article > p{
        text-indent: 20px;
        text-align: justify;
        margin-bottom: 20px;
    }